In [1]:
import pandas as pd

# Load the files
supplements = pd.read_excel("SUPPLEMENTS.xlsx", sheet_name="Supplements")
respondents = pd.read_excel("RESPONDENTI.xlsx", sheet_name="Respondents")

# Create a new column ID_SIMPLE containing only 'K' + digits
respondents["ID_SIMPLE"] = respondents["ID_ID"].str.extract(r"(K\d+)")

# Merge using the new ID_SIMPLE column and the ID column from SUPPLEMENTS
merged = pd.merge(
    respondents,
    supplements,
    left_on="ID_SIMPLE",
    right_on="ID",
    how="inner"
)

# Select only the required columns
final_supplements = merged[["ID_ID", "ID_SIMPLE", "FEMALE/MALE", "AGE", "Železo"]]

final_supplements

      ID_ID ID_SIMPLE FEMALE/MALE    AGE       Železo
0      K4R2        K4           M  31.00            0
1      K5R2        K5           F  30.70            0
2      K7R3        K7           F  33.00            0
3     K15R6       K15           M  38.10            0
4     K16R6       K16           F  29.40            0
..      ...       ...         ...    ...          ...
76  K291R85      K291           M  26.60            0
77  K292R85      K292           F  26.10            0
78  K301R88      K301           M  35.60            ?
79  K302R88      K302           F  38.30            1
80      NaN       NaN         NaN  33.95  0=NE, 1=ANO

[81 rows x 5 columns]

In [2]:
# Count how many have 1 in Železo
count_iron_users = (final_supplements["Železo"] == 1).sum()

print("Number of respondents supplementing iron (Železo = 1):", count_iron_users)
count_iron_users

Number of respondents supplementing iron (Železo = 1): 26

26

In [3]:
# Filter respondents who have Železo = 1
iron_users = final_supplements[final_supplements["Železo"] == 1]

iron_users

      ID_ID ID_SIMPLE FEMALE/MALE   AGE Železo
8     K26R9       K26           F  33.7      1
12   K35R12       K35           F  40.7      1
14   K46R15       K46           F  34.7      1
22   K62R20       K62           F  28.4      1
26   K71R23       K71           F  31.8      1
30   K82R26       K82           F  33.3      1
31   K92R29       K92           F  48.7      1
36  K103R33      K103           M  33.6      1
37  K104R33      K104           F  35.3      1
38  K106R34      K106           M  34.3      1
39  K107R34      K107           F  23.6      1
45  K120R38      K120           F  30.8      1
47  K147R45      K147           F  37.3      1
48  K165R50      K165           M  41.8      1
49  K166R50      K166           F  36.3      1
53  K188R56      K188           F  34.7      1
58  K216R64      K216           M  26.5      1
59  K217R64      K217           F  26.4      1
61  K220R65      K220           F  29.9      1
65  K251R73      K251           F  30.9      1
70  K281R82      K281           M  32.9      1
71  K282R82      K282           F  37.2      1
72  K284R83      K284           M  33.8      1
73  K285R83      K285           F  31.9      1
75  K289R84      K289           F  33.7      1
79  K302R88      K302           F  38.3      1

In [4]:
# Count percentage (26 out of 80)
percentage = 26 / 80 * 100
percentage

32.5

✅ 32.5 % of your 80 respondents supplement iron.

In [5]:
females_supplementing = iron_users[iron_users["FEMALE/MALE"] == "F"]
print("Females supplementing iron:")
females_supplementing

Females supplementing iron:

      ID_ID ID_SIMPLE FEMALE/MALE   AGE Železo
8     K26R9       K26           F  33.7      1
12   K35R12       K35           F  40.7      1
14   K46R15       K46           F  34.7      1
22   K62R20       K62           F  28.4      1
26   K71R23       K71           F  31.8      1
30   K82R26       K82           F  33.3      1
31   K92R29       K92           F  48.7      1
37  K104R33      K104           F  35.3      1
39  K107R34      K107           F  23.6      1
45  K120R38      K120           F  30.8      1
47  K147R45      K147           F  37.3      1
49  K166R50      K166           F  36.3      1
53  K188R56      K188           F  34.7      1
59  K217R64      K217           F  26.4      1
61  K220R65      K220           F  29.9      1
65  K251R73      K251           F  30.9      1
71  K282R82      K282           F  37.2      1
73  K285R83      K285           F  31.9      1
75  K289R84      K289           F  33.7      1
79  K302R88      K302           F  38.3      1

In [6]:
female_supplement_percent = 20 / 41 * 100
print(f"Percentage of females supplementing iron: {female_supplement_percent:.2f}%")

Percentage of females supplementing iron: 48.78%

In [7]:
# Divide into females and males
males_supplementing = iron_users[iron_users["FEMALE/MALE"] == "M"]

print("\nMales supplementing iron:")
males_supplementing

Males supplementing iron:

      ID_ID ID_SIMPLE FEMALE/MALE   AGE Železo
36  K103R33      K103           M  33.6      1
38  K106R34      K106           M  34.3      1
48  K165R50      K165           M  41.8      1
58  K216R64      K216           M  26.5      1
70  K281R82      K281           M  32.9      1
72  K284R83      K284           M  33.8      1

In [8]:
male_supplement_percent = 6 / 39 * 100
print(f"Percentage of males supplementing iron: {male_supplement_percent:.2f}%")

Percentage of males supplementing iron: 15.38%

In [15]:
# Calculate average age
average_age = iron_users["AGE"].mean()

print(f"Average age: {average_age:.2f} years")

Average age: 33.87 years

In [18]:
# Average age for females
average_age_females = iron_users[iron_users["FEMALE/MALE"] == "F"]["AGE"].mean()

# Average age for males
average_age_males = iron_users[iron_users["FEMALE/MALE"] == "M"]["AGE"].mean()

print(f"Average age of females: {average_age_females:.2f} years")
print(f"Average age of males: {average_age_males:.2f} years")

Average age of females: 33.88 years
Average age of males: 33.82 years

In [27]:
# Median age for all respondents
median_age_all = iron_users["AGE"].median()

print(f"Median age of all respondents: {median_age_all} years")

Median age of all respondents: 33.7 years

In [21]:
# Median age for females
median_age_females = iron_users[iron_users["FEMALE/MALE"] == "F"]["AGE"].median()

# Median age for males
median_age_males = iron_users[iron_users["FEMALE/MALE"] == "M"]["AGE"].median()

print(f"Median age of females: {median_age_females} years")
print(f"Median age of males: {median_age_males} years")

Median age of females: 33.7 years
Median age of males: 33.7 years

<a style='text-decoration:none;line-height:16px;display:flex;color:#5B5B62;padding:10px;justify-content:end;' href='https://deepnote.com?utm_source=created-in-deepnote-cell&projectId=442c3d06-fa27-4eb9-95a5-3c4fa7c81d32' target="_blank">
<img alt='Created in deepnote.com' style='display:inline;max-height:16px;margin:0px;margin-right:7.5px;' src='' > </img>
Created in <span style='font-weight:600;margin-left:4px;'>Deepnote</span></a>